# Python bytecode
__pycache__/
*.py[cod]

# 가상환경
.venv/
venv/
env/

# 환경변수/개인설정
.env
*.log
error_log.txt

# IDE 설정
.vscode/
.idea/

# 데이터/결과 (원하면 나중에 조정)
data/*.csv
cdc_output/
checkpoints/
*.parquet
spark-warehouse/

# 기타
.DS_Store
Thumbs.db
